p {
  color: blue;
}

.grid-container {
  display: block;
  background: gray;
  width: 600px;
  height: 600px;
}

.grid-row {
  display: block;
  background: red;
  width: 600px;
  height: 150px;
}

.grid-cell {
  display: block;
  float: left;
  background: green;
  border: 5px solid red;
  width: 140px;
  height: 140px;
}